default_language_version:
  python: python3.12

default_stages: [commit, push]

repos:
- repo: https://github.com/norwoodj/helm-docs
  rev:  "v1.14.2"
  hooks:
    - id: helm-docs
      args:
        # Make the tool search for charts only under the `charts` directory
        - --chart-search-root=./service/charts

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    exclude: client/.*|.*\.md|README.md
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: ./service/charts/
  - id: check-added-large-files

- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.11.0
  hooks:
  - id: shellcheck

- repo: local
  hooks:
    - id: openapi
      name: openapi
      entry: poetry --directory service run python ../tools/extract_openapi.py placement.api.app:app --app-dir ./src --out ../api/openapi.yaml --app_version_file ../VERSION
      language: system
      types: [python]
      pass_filenames: false
      always_run: true

- repo: local
  hooks:
    - id: generate_client
      name: generate client
      entry: poetry --directory service run python ../tools/client_generator/generate.py --asyncio ../api/openapi.yaml
      language: system
      types: [python]
      pass_filenames: false
      always_run: true

- repo: local
  hooks:
    - id: mypy
      name: mypy
      files: ^service/
      entry: poetry run mypy
      language: system
      types: [python]

- repo: local
  hooks:
    - id: isort
      name: isort
      files: ^service/
      entry: poetry run isort
      language: system
      types: [python]

- repo: local
  hooks:
    - id: flake8
      name: flake8
      files: ^service/
      entry: poetry run flake8
      language: system
      types: [python]

- repo: local
  hooks:
    - id: black
      name: black
      files: ^service/
      entry: poetry run black
      language: system
      types: [python]
