default_language_version:
  python: python3.12

default_stages: [commit, push]

repos:
- repo: https://github.com/norwoodj/helm-docs
  rev:  "v1.14.2"
  hooks:
    - id: helm-docs
      args:
        # Make the tool search for charts only under the `charts` directory
        - --chart-search-root=./service/charts

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    exclude: client/.*|.*\.md|README.md
  - id: end-of-file-fixer
    exclude: client/.*
  - id: check-yaml
    exclude: ./service/charts
  - id: check-added-large-files

- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.11.0
  hooks:
  - id: shellcheck

- repo: local
  hooks:
    - id: openapi
      name: openapi
      entry: uv run python ./tools/extract_openapi.py placement_controller.api.app:app --app-dir ./src --out ./packages/placement-api/openapi.yaml --app_version_file ./VERSION
      language: system
      types: [python]
      pass_filenames: false
      always_run: true

# - repo: local
#   hooks:
#     - id: generate_client
#       name: generate client
#       entry: uv run python ./tools/client_generator/generate.py --asyncio ./packages/placement-api/openapi.yaml
#       language: system
#       types: [python]
#       pass_filenames: false
#       always_run: true

- repo: local
  hooks:
    - id: generate_client
      name: generate client
      entry: uv run python openapi-python-client generate --overwrite --path ./packages/placement-api/openapi.yaml --meta=uv --output-path ./packages/placement-client --config=./tools/config.yaml --custom-template-path=./tools/templates
      language: system
      types: [python]
      pass_filenames: false
      always_run: true



- repo: local
  hooks:
    - id: mypy
      name: mypy
      files: ^placement-controller/
      entry: uv run mypy
      language: system
      types: [python]

- repo: local
  hooks:
    - id: isort
      name: isort
      files: ^placement-controller/
      entry: uv run isort
      language: system
      types: [python]

- repo: local
  hooks:
    - id: flake8
      name: flake8
      files: ^placement-controller/
      entry: uv run flake8 --config ./.flake8
      language: system
      types: [python]

- repo: local
  hooks:
    - id: black
      name: black
      files: ^placement-controller/
      entry: uv run black
      language: system
      types: [python]
