[project]
name = "placement-controller"
version = "0.1.0"
requires-python = ">=3.12"
dependencies = [
    "tqdm>=4,<5",
    "placement-api",
    "placement-client",
]

[tool.uv.sources]
placement-api = { workspace = true }
placement-client = { workspace = true }

[tool.uv.workspace]
members = ["packages/*"]
exclude = ["packages/service"]

[build-system]
requires = ["uv_build>=0.8.17,<0.9.0"]
build-backend = "uv_build"