openapi: 3.1.0
info:
  title: Placement Controller
  description: Baseline Placement Controller for Decentralized Control Plance
  contact:
    name: HIRO-MicroDataCenters
    email: all-hiro@hiro-microdatacenters.nl
  license:
    name: MIT
    url: https://github.com/HIRO-MicroDataCenters-BV/placement-controller/blob/main/LICENSE
  version: 0.1.0
paths:
  /:
    get:
      summary: Root
      description: Get Application Status
      operationId: status
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
  /applications/:
    get:
      summary: List Applications
      operationId: list_applications
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ApplicationModel'
                type: array
                title: Response List Applications
  /applications/{namespace}/{name}/placements:
    put:
      summary: Set Placements
      operationId: set_placements
      parameters:
      - name: namespace
        in: path
        required: true
        schema:
          type: string
          title: Namespace
      - name: name
        in: path
        required: true
        schema:
          type: string
          title: Name
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
              title: Zones
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /applications/{namespace}/{name}/owner:
    put:
      summary: Set Owner
      operationId: set_owner
      parameters:
      - name: namespace
        in: path
        required: true
        schema:
          type: string
          title: Namespace
      - name: name
        in: path
        required: true
        schema:
          type: string
          title: Name
      - name: owner
        in: query
        required: true
        schema:
          type: string
          title: Owner
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /bids/:
    put:
      summary: Application Bid
      operationId: application_bid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BidRequestModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BidResponseModel'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    ApplicationModel:
      properties:
        name:
          type: string
          title: Name
        namespace:
          type: string
          title: Namespace
        owner:
          type: string
          title: Owner
        zones:
          items:
            type: string
          type: array
          title: Zones
      type: object
      required:
      - name
      - namespace
      - owner
      - zones
      title: ApplicationModel
    BidCriteria:
      type: string
      enum:
      - cpu
      - gpu
      - ram
      - ephemeral-storage
      - pvc-storage
      title: BidCriteria
    BidRequestModel:
      properties:
        id:
          type: string
          title: Id
        spec:
          type: string
          title: Spec
        bid_criteria:
          items:
            $ref: '#/components/schemas/BidCriteria'
          type: array
          uniqueItems: true
          title: Bid Criteria
        metrics:
          items:
            $ref: '#/components/schemas/Metric'
          type: array
          uniqueItems: true
          title: Metrics
      type: object
      required:
      - id
      - spec
      - bid_criteria
      - metrics
      title: BidRequestModel
    BidResponseModel:
      properties:
        id:
          type: string
          title: Id
        status:
          $ref: '#/components/schemas/BidStatus'
        reason:
          anyOf:
          - type: string
          - type: 'null'
          title: Reason
        msg:
          anyOf:
          - type: string
          - type: 'null'
          title: Msg
        metrics:
          items:
            $ref: '#/components/schemas/MetricValue'
          type: array
          title: Metrics
      type: object
      required:
      - id
      - status
      - metrics
      title: BidResponseModel
    BidStatus:
      type: string
      enum:
      - accepted
      - rejected
      title: BidStatus
    ErrorResponse:
      properties:
        status:
          type: integer
          title: Status
        code:
          type: string
          title: Code
        msg:
          anyOf:
          - type: string
          - type: 'null'
          title: Msg
      type: object
      required:
      - status
      - code
      title: ErrorResponse
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    Metric:
      type: string
      enum:
      - cost
      - energy
      title: Metric
    MetricUnit:
      type: string
      enum:
      - core
      - byte
      - watt
      - eur
      title: MetricUnit
    MetricValue:
      properties:
        id:
          $ref: '#/components/schemas/Metric'
        value:
          type: string
          title: Value
        unit:
          $ref: '#/components/schemas/MetricUnit'
      type: object
      required:
      - id
      - value
      - unit
      title: MetricValue
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
