openapi: "3.0.0"
info:
  title: AnyApplication Controller
  description: Application Controller for Decentralized Control Plance
  contact:
    name: HIRO-MicroDataCenters
    email: all-hiro@hiro-microdatacenters.nl
  license:
    name: MIT
    url: https://github.com/HIRO-MicroDataCenters-BV/anyapplication-controller/blob/main/LICENSE
  version: 0.1.0
paths:
  /applications/{namespace}/{name}/status:
    get:
      summary: Get Application Status
      operationId: get_application_status
      parameters:
      - name: namespace
        in: path
        required: true
        schema:
          type: string
          title: Namespace
      - name: name
        in: path
        required: true
        schema:
          type: string
          title: Name
      responses:
        '200':
          description: Get Application Status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationReport'
  /applications/{namespace}/{name}/specification:
    get:
      summary: Get Application Spec
      operationId: get_application_spec
      parameters:
      - name: namespace
        in: path
        required: true
        schema:
          type: string
          title: Namespace
      - name: name
        in: path
        required: true
        schema:
          type: string
          title: Name
      responses:
        '200':
          description: Get Application Status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationSpec'
components:
  schemas:
    ApplicationReport:
      type: object
      required:
        - pods
        - workloads
      properties:
        pods:
          items:
            $ref: '#/components/schemas/PodInfo'
          type: array
          title: PodInfo
        workloads:
          items:
            $ref: '#/components/schemas/WorkloadStatus'
          type: array
          title: WorkloadStatus
    WorkloadStatus:
      type: object
      required:
        - kind
        - name
        - namespace
        - ready
        - desired
        - available
        - unavailable
        - message
      properties:
        kind:
          type: string
          title: Kind
        name:
          type: string
          title: Name
        namespace:
          type: string
          title: Namespace
        ready:
          type: boolean
          title: Ready
        desired:
          type: integer
          format: int32
          title: Desired
        available:
          type: integer
          format: int32
          title: Available
        unavailable:
          type: integer
          format: int32
          title: Unavailable
        message:
          type: string
          title: Message

    PodInfo:
      type: object
      required:
        - name
        - status
        - restarts
        - events
        - logs
      properties:
        name:
          type: string
          title: Name
        status:
          type: string
          title: Status
        restarts:
          type: integer
          format: int32
          title: Restarts
        events:
          type: array
          title: Events
          items:
            $ref: '#/components/schemas/PodEvent'
        logs:
          type: array
          title: Logs
          items:
            $ref: '#/components/schemas/LogInfo'

    PodEvent:
      type: object
      required:
        - reason
        - message
        - timestamp
      properties:
        reason:
          type: string
          title: Reason
        message:
          type: string
          title: Message
        timestamp:
          type: string
          title: Timestamp

    LogInfo:
      type: object
      required:
        - container
        - log
      properties:
        container:
          type: string
          title: Container
        log:
          type: string
          title: Log

    ApplicationSpec:
      type: object
      required:
        - id
        - resources
      properties:
        id:
          $ref: '#/components/schemas/ResourceId'
          title: Id
        resources:
          type: array
          title: Resources
          items:
            oneOf:
              - $ref: '#/components/schemas/PodResources'
              - $ref: '#/components/schemas/PVCResources'

    ResourceId:
      type: object
      required:
        - name
        - namespace
      properties:
        name:
          type: string
          title: Name
        namespace:
          type: string
          title: Namespace

    PodResources:
      type: object
      required:
        - id
        - replica
        - requests
        - limits
      properties:
        id:
          $ref: '#/components/schemas/ResourceId'
          title: Id
        replica:
          type: integer
          format: int32
          title: Replica
        requests:
          type: object
          title: Requests
          additionalProperties:
            type: string
        limits:
          type: object
          title: Limits
          additionalProperties:
            type: string

    PVCResources:
      type: object
      required:
        - id
        - replica
        - requests
        - storage-class
      properties:
        id:
          $ref: '#/components/schemas/ResourceId'
          title: Id
        replica:
          type: integer
          format: int32
          title: Replica
        size:
          type: string
          title: Size
        storage-class:
          type: string
          title: Size
