name: Build

on:
  push:
    branches:
      - '**'
    tags:
      - '**'
    paths-ignore:
      - 'releases/**'
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/')) && 'hiro-microdatacenters-bv/placement-controller' || 'hiro-microdatacenters-bv/placement-controller-dev' }}

jobs:
  build_server:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install Helm
      uses: azure/setup-helm@v3

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
      with:
        platforms: linux/amd64, linux/arm64

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Make versions
      run: |
        chmod +x ./tools/version.sh
        ./tools/version.sh "${{ github.sha }}" "${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}"
        echo "APP_VERSION=$(cat "./VERSION")" >> $GITHUB_ENV
        echo "DOCKER_IMAGES=$(cat "./DOCKER_IMAGES")" >> $GITHUB_ENV
        echo "DOCKER_TAGS=$(cat "./VERSION_DOCKER")" >> $GITHUB_ENV

    - name: Log into registry ${{ env.REGISTRY }}
      uses: docker/login-action@v3
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Extract Docker metadata
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
        tags: ${{ env.DOCKER_TAGS }}

    - name: Build and push docker image
      uses: docker/build-push-action@v5
      with:
        push: true
        sbom: true
        provenance: true
        tags: ${{ env.DOCKER_IMAGES }}
        labels: ${{ steps.meta.outputs.labels }}
        platforms: linux/amd64, linux/arm64

    - name: Configure Git
      run: |
        git config user.name "$GITHUB_ACTOR"
        git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

    - name: Create a github release
      if: ${{ startsWith(github.ref, 'refs/tags/') }}
      run: gh release create "${{ env.APP_VERSION }}"
      env:
        GH_TOKEN: ${{ github.token }}

    - name: Publish Helm charts
      uses: stefanprodan/helm-gh-pages@master
      with:
        token: ${{ github.token }}
        charts_dir: "./charts/"
        target_dir: "./helm-charts/"
