name: Test and build

on:
  push:
    branches:
    - '**'
    tags:
    - '**'
    paths-ignore:
    - 'releases/**'
  pull_request:
    branches:
    - '**'
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest    
    strategy:
      matrix:
        python-version: ["3.12"]

    steps:
    - uses: actions/checkout@v4

    - name: "Set up Python"
      uses: actions/setup-python@v5
      with:
        python-version-file: "pyproject.toml"

    - name: Install uv
      uses: astral-sh/setup-uv@v6
      with:
        # Install a specific version of uv.
        version: "0.8.17"

    - name: Run style checks
      run: |
        uv tool run mypy .
        uv tool run isort . --check --diff
        uv tool run flake8 .
        uv tool run black . --check --diff

    - name: Run tests
      run: uv run pytest

  osv-scanner:
    uses: google/osv-scanner-action/.github/workflows/osv-scanner-reusable.yml@v2.2.1

  build:
    needs: [test]
    permissions:
      contents: write
      packages: write
    secrets: inherit
    uses: ./.github/workflows/service.yaml
