name: Test

on:
  push:
    branches:
    - '**'
    tags:
    - '**'
    paths-ignore:
    - 'releases/**'
  pull_request:
    branches:
    - '**'
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: "Set up Python"
      uses: actions/setup-python@v5
      with:
        # temporary commented due to vulnerabilities in docker images
        # python-version-file: "pyproject.toml"
        python-version: '3.13'

    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        version: "0.8.17"
        # temporary commented due to vulnerabilities in docker images
        # version-file: "pyproject.toml"
        python-version: '3.13'

    - name: Install the project
      run: uv sync --locked --all-extras --dev

    - name: Run style checks
      run: |
        uv run mypy ./src
        uv run isort ./src --check --diff
        uv run flake8 ./src
        uv run black ./src --check --diff

    - name: Run tests
      run: uv run pytest

  osv-scanner:
    uses: google/osv-scanner-action/.github/workflows/osv-scanner-reusable.yml@v2.2.1
